# Pre-Processing

## Import Relevant Libraries

In [2]:
# Import Libraries

# Basic
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

## Import Data

In [30]:
# Import Data
df = pd.read_csv("data/raw.csv")

# Remove Unwanted Rows
df = df[['DATE_RAISED', 'DATE_FROM', 'DATE_TO', 'DATE_KNOWN', 'DATE_DETECTED', 'DIVISION_CODE', 'COUNCIL_AREA_CODE', 'BEAT', 'STATS_CLASS_CODE', 'Group']]

df = df.rename(columns={"Group":"GROUP"})

# Show
df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_KNOWN,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP
0,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AS2B,Serious Assault,1.0
1,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AN3B,Serious Assault,1.0
2,31-Dec-13,31-Dec-13,31-Dec-13,31-Dec-13,01-Jan-14,1,Aberdeen City,AN7A,Serious Assault,1.0
3,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0
4,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0
...,...,...,...,...,...,...,...,...,...,...
3000564,30-Dec-21,#NULL!,#NULL!,#NULL!,31-Dec-21,4,Highland,408,"Lighting offences, motor vehicle",7.0
3000565,30-Dec-21,#NULL!,#NULL!,#NULL!,31-Dec-21,4,Highland,408,"Lighting offences, motor vehicle",7.0
3000566,31-Dec-21,#NULL!,#NULL!,#NULL!,31-Dec-21,4,Highland,67,Seat Belt Offences,7.0
3000567,31-Dec-21,#NULL!,#NULL!,#NULL!,31-Dec-21,4,Highland,34,Seat Belt Offences,7.0
3000568,31-Dec-21,#NULL!,#NULL!,#NULL!,31-Dec-21,4,Highland,75,Mobile Phone Offences,7.0

## Reformat Null Values

In [31]:
df = df.replace('#NULL!', np.nan)
df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_KNOWN,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP
0,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AS2B,Serious Assault,1.0
1,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AN3B,Serious Assault,1.0
2,31-Dec-13,31-Dec-13,31-Dec-13,31-Dec-13,01-Jan-14,1,Aberdeen City,AN7A,Serious Assault,1.0
3,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0
4,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0
...,...,...,...,...,...,...,...,...,...,...
3000564,30-Dec-21,NaN,NaN,NaN,31-Dec-21,4,Highland,408,"Lighting offences, motor vehicle",7.0
3000565,30-Dec-21,NaN,NaN,NaN,31-Dec-21,4,Highland,408,"Lighting offences, motor vehicle",7.0
3000566,31-Dec-21,NaN,NaN,NaN,31-Dec-21,4,Highland,67,Seat Belt Offences,7.0
3000567,31-Dec-21,NaN,NaN,NaN,31-Dec-21,4,Highland,34,Seat Belt Offences,7.0
3000568,31-Dec-21,NaN,NaN,NaN,31-Dec-21,4,Highland,75,Mobile Phone Offences,7.0

## Remove Unsalvagable Missing Data

In [32]:
# Check for Missing Values
df.isna().sum()

DATE_RAISED                0
DATE_FROM             189002
DATE_TO              1529482
DATE_KNOWN            919429
DATE_DETECTED              0
DIVISION_CODE              0
COUNCIL_AREA_CODE         37
BEAT                   11402
STATS_CLASS_CODE           0
GROUP                      0
dtype: int64

In [33]:
# Remove Missing Data

# Missing Beat Codes
df = df[df.BEAT.notna()]

# Missing Area Code
df = df[df.COUNCIL_AREA_CODE.notna()]

In [34]:
# Check for Missing Values
df.isna().sum()

DATE_RAISED                0
DATE_FROM             189002
DATE_TO              1529445
DATE_KNOWN            908027
DATE_DETECTED              0
DIVISION_CODE              0
COUNCIL_AREA_CODE          0
BEAT                       0
STATS_CLASS_CODE           0
GROUP                      0
dtype: int64

## Fix Missing Division Code

In [35]:
def div_fix(row):
    if row["DIVISION_CODE"] > 2:
        return row["DIVISION_CODE"] - 1
    else:
        return row["DIVISION_CODE"]

df['DIVISION_CODE'] = df.apply(div_fix, axis=1)
df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_KNOWN,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP
0,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AS2B,Serious Assault,1.0
1,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AN3B,Serious Assault,1.0
2,31-Dec-13,31-Dec-13,31-Dec-13,31-Dec-13,01-Jan-14,1,Aberdeen City,AN7A,Serious Assault,1.0
3,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0
4,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0
...,...,...,...,...,...,...,...,...,...,...
3000564,30-Dec-21,NaN,NaN,NaN,31-Dec-21,3,Highland,408,"Lighting offences, motor vehicle",7.0
3000565,30-Dec-21,NaN,NaN,NaN,31-Dec-21,3,Highland,408,"Lighting offences, motor vehicle",7.0
3000566,31-Dec-21,NaN,NaN,NaN,31-Dec-21,3,Highland,67,Seat Belt Offences,7.0
3000567,31-Dec-21,NaN,NaN,NaN,31-Dec-21,3,Highland,34,Seat Belt Offences,7.0
3000568,31-Dec-21,NaN,NaN,NaN,31-Dec-21,3,Highland,75,Mobile Phone Offences,7.0

In [36]:
# Observations in Highlands and Islands
len(df[df['DIVISION_CODE'] == 3])

171719

## Investigate & Replace Missing Dates

In [37]:
# No Date Range
df[df['DATE_TO'].isna() & df['DATE_FROM'].isna()]

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_KNOWN,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP
150,15-Sep-13,NaN,NaN,NaN,01-Jan-14,3,Orkney Islands,13,Theft of motor vehicle & contents incl. taking...,3.0
151,01-Jan-14,NaN,NaN,NaN,01-Jan-14,3,Highland,111,General attmpts to defeat_pervert the course_e...,5.0
152,01-Jan-14,NaN,NaN,NaN,01-Jan-14,3,Highland,2,Common Assault,6.0
153,31-Dec-13,NaN,NaN,NaN,01-Jan-14,3,Orkney Islands,104,Common Assault,6.0
154,31-Dec-13,NaN,NaN,NaN,01-Jan-14,3,Orkney Islands,104,Common Assault,6.0
...,...,...,...,...,...,...,...,...,...,...
3000564,30-Dec-21,NaN,NaN,NaN,31-Dec-21,3,Highland,408,"Lighting offences, motor vehicle",7.0
3000565,30-Dec-21,NaN,NaN,NaN,31-Dec-21,3,Highland,408,"Lighting offences, motor vehicle",7.0
3000566,31-Dec-21,NaN,NaN,NaN,31-Dec-21,3,Highland,67,Seat Belt Offences,7.0
3000567,31-Dec-21,NaN,NaN,NaN,31-Dec-21,3,Highland,34,Seat Belt Offences,7.0
3000568,31-Dec-21,NaN,NaN,NaN,31-Dec-21,3,Highland,75,Mobile Phone Offences,7.0

In [38]:
# No Date Range (Date Known)
df[df['DATE_TO'].isna() & df['DATE_FROM'].isna() & df['DATE_KNOWN'].notna()]

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_KNOWN,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP
2028639,08-Jan-19,NaN,NaN,08-Jan-19,08-Jan-19,13,Dumfries & Galloway,VA4,Possession of an offensive weapon,5.0
2500107,06-Jun-20,NaN,NaN,06-Jun-20,07-Jun-20,10,South Lanarkshire,QB32,Vandalism,4.0
2500113,06-Jun-20,NaN,NaN,06-Jun-20,07-Jun-20,10,South Lanarkshire,QB32,Resisting arrest,5.0
2500526,06-Jun-20,NaN,NaN,06-Jun-20,07-Jun-20,10,South Lanarkshire,QB32,Threatening or abusive behaviour,6.0

In [39]:
# Partial Range
df[df['DATE_TO'].isna() ^ df['DATE_FROM'].isna()]

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_KNOWN,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP
113,01-Jan-14,01-Jan-14,NaN,01-Jan-14,01-Jan-14,2,Dundee City,Central,Breach of the peace,6.0
114,01-Jan-14,31-Dec-13,NaN,NaN,01-Jan-14,2,Perth & Kinross,Western,Breach of the peace,6.0
115,01-Jan-14,01-Jan-14,NaN,NaN,01-Jan-14,2,Dundee City,Central,Breach of the peace,6.0
116,01-Jan-14,01-Jan-14,NaN,NaN,01-Jan-14,2,Angus,Eastern,Breach of the peace,6.0
117,01-Jan-14,31-Dec-13,NaN,NaN,01-Jan-14,2,Dundee City,Central,Breach of the peace,6.0
...,...,...,...,...,...,...,...,...,...,...
3000515,31-Dec-21,31-Dec-21,NaN,31-Dec-21,31-Dec-21,1,Aberdeenshire,S3A,Construction & Use Regulations Other Than Ligh...,7.0
3000516,31-Dec-21,24-Dec-21,NaN,24-Dec-21,31-Dec-21,10,North Lanarkshire,NE59,Construction & Use Regulations Other Than Ligh...,7.0
3000518,24-Jan-22,31-Dec-21,NaN,24-Jan-22,31-Dec-21,1,Aberdeenshire,S2F,Construction & Use Regulations Other Than Ligh...,7.0
3000520,31-Dec-21,24-Dec-21,NaN,24-Dec-21,31-Dec-21,10,North Lanarkshire,NE59,Seat Belt Offences,7.0
3000521,31-Dec-21,31-Dec-21,NaN,31-Dec-21,31-Dec-21,10,South Lanarkshire,QC55,Seat Belt Offences,7.0

In [40]:
# Fix Missing Values in Dates

# Missing To and From (Known Date)
vals = df.loc[df.DATE_TO.isna() & df.DATE_FROM.isna() & df.DATE_KNOWN.notna()].DATE_RAISED
df.loc[df.DATE_FROM.isna() & df.DATE_TO.isna() & df.DATE_KNOWN.notna(), ['DATE_FROM', 'DATE_TO']] = vals

# Missing Date From
df.loc[df.DATE_FROM.isna() & df.DATE_TO.notna(), 'DATE_FROM'] = df.loc[df.DATE_FROM.isna() & df.DATE_TO.notna()].DATE_TO

# Missing Date To
df.loc[df.DATE_FROM.notna() & df.DATE_TO.isna(), 'DATE_TO'] = df.loc[df.DATE_FROM.notna() & df.DATE_TO.isna()].DATE_FROM

In [41]:
# Check for Missing Values
df.isna().sum()

DATE_RAISED               0
DATE_FROM            172164
DATE_TO              172164
DATE_KNOWN           908027
DATE_DETECTED             0
DIVISION_CODE             0
COUNCIL_AREA_CODE         0
BEAT                      0
STATS_CLASS_CODE          0
GROUP                     0
dtype: int64

In [42]:
# Remove Unwanted Rows
df = df[['DATE_RAISED', 'DATE_FROM', 'DATE_TO', 'DATE_DETECTED', 'DIVISION_CODE', 'COUNCIL_AREA_CODE', 'BEAT', 'STATS_CLASS_CODE', 'GROUP']]

In [43]:
df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP
0,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AS2B,Serious Assault,1.0
1,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AN3B,Serious Assault,1.0
2,31-Dec-13,31-Dec-13,31-Dec-13,01-Jan-14,1,Aberdeen City,AN7A,Serious Assault,1.0
3,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0
4,01-Jan-14,01-Jan-14,01-Jan-14,01-Jan-14,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0
...,...,...,...,...,...,...,...,...,...
3000564,30-Dec-21,NaN,NaN,31-Dec-21,3,Highland,408,"Lighting offences, motor vehicle",7.0
3000565,30-Dec-21,NaN,NaN,31-Dec-21,3,Highland,408,"Lighting offences, motor vehicle",7.0
3000566,31-Dec-21,NaN,NaN,31-Dec-21,3,Highland,67,Seat Belt Offences,7.0
3000567,31-Dec-21,NaN,NaN,31-Dec-21,3,Highland,34,Seat Belt Offences,7.0
3000568,31-Dec-21,NaN,NaN,31-Dec-21,3,Highland,75,Mobile Phone Offences,7.0

In [44]:
# Fix Date Formatting
cols = ['DATE_RAISED', 'DATE_DETECTED']

for col in cols:
    df[col] = np.where(df[col].str[-2:].astype(int) > 22, df[col].str[:-2] + "19" + df[col].str[-2:], df[col])
    df[col] = np.where(df[col].str[-2:].astype(int) <= 22, df[col].str[:-2] + "20" + df[col].str[-2:], df[col])

df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP
0,01-Jan-2014,01-Jan-14,01-Jan-14,01-Jan-2014,1,Aberdeen City,AS2B,Serious Assault,1.0
1,01-Jan-2014,01-Jan-14,01-Jan-14,01-Jan-2014,1,Aberdeen City,AN3B,Serious Assault,1.0
2,31-Dec-2013,31-Dec-13,31-Dec-13,01-Jan-2014,1,Aberdeen City,AN7A,Serious Assault,1.0
3,01-Jan-2014,01-Jan-14,01-Jan-14,01-Jan-2014,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0
4,01-Jan-2014,01-Jan-14,01-Jan-14,01-Jan-2014,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0
...,...,...,...,...,...,...,...,...,...
3000564,30-Dec-2021,NaN,NaN,31-Dec-2021,3,Highland,408,"Lighting offences, motor vehicle",7.0
3000565,30-Dec-2021,NaN,NaN,31-Dec-2021,3,Highland,408,"Lighting offences, motor vehicle",7.0
3000566,31-Dec-2021,NaN,NaN,31-Dec-2021,3,Highland,67,Seat Belt Offences,7.0
3000567,31-Dec-2021,NaN,NaN,31-Dec-2021,3,Highland,34,Seat Belt Offences,7.0
3000568,31-Dec-2021,NaN,NaN,31-Dec-2021,3,Highland,75,Mobile Phone Offences,7.0

## Extract Target Variable

In [45]:
# Calculate time between Report Date and Detect Date
df[['DATE_DETECTED', 'DATE_RAISED']] = df[['DATE_DETECTED', 'DATE_RAISED']].apply(pd.to_datetime)
df["INVESTIGATION_DURATION"] = (df['DATE_DETECTED'] - df['DATE_RAISED']).dt.days

df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP,INVESTIGATION_DURATION
0,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeen City,AS2B,Serious Assault,1.0,0
1,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeen City,AN3B,Serious Assault,1.0,0
2,2013-12-31,31-Dec-13,31-Dec-13,2014-01-01,1,Aberdeen City,AN7A,Serious Assault,1.0,1
3,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0,0
4,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0,0
...,...,...,...,...,...,...,...,...,...,...
3000564,2021-12-30,NaN,NaN,2021-12-31,3,Highland,408,"Lighting offences, motor vehicle",7.0,1
3000565,2021-12-30,NaN,NaN,2021-12-31,3,Highland,408,"Lighting offences, motor vehicle",7.0,1
3000566,2021-12-31,NaN,NaN,2021-12-31,3,Highland,67,Seat Belt Offences,7.0,0
3000567,2021-12-31,NaN,NaN,2021-12-31,3,Highland,34,Seat Belt Offences,7.0,0
3000568,2021-12-31,NaN,NaN,2021-12-31,3,Highland,75,Mobile Phone Offences,7.0,0

In [ ]:
# Number of Negative Duration
len(df[df['INVESTIGATION_DURATION'] < 0])

In [ ]:
# Remove Rows with Negative Duration
df = df[df['INVESTIGATION_DURATION'] >= 0]

In [ ]:
# Cases with More than 365 Days
len(df[df['INVESTIGATION_DURATION'] > 365])

In [48]:
# Add Field for Binary Classification
def conv2bin(row):
    if row['INVESTIGATION_DURATION'] > 0:
        return 1
    else:
        return 0

df['BIN_CLASS'] = df.apply(conv2bin, axis=1)
df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP,INVESTIGATION_DURATION,BIN_CLASS
0,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeen City,AS2B,Serious Assault,1.0,0,0
1,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeen City,AN3B,Serious Assault,1.0,0,0
2,2013-12-31,31-Dec-13,31-Dec-13,2014-01-01,1,Aberdeen City,AN7A,Serious Assault,1.0,1,1
3,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0,0,0
4,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3000564,2021-12-30,NaN,NaN,2021-12-31,3,Highland,408,"Lighting offences, motor vehicle",7.0,1,1
3000565,2021-12-30,NaN,NaN,2021-12-31,3,Highland,408,"Lighting offences, motor vehicle",7.0,1,1
3000566,2021-12-31,NaN,NaN,2021-12-31,3,Highland,67,Seat Belt Offences,7.0,0,0
3000567,2021-12-31,NaN,NaN,2021-12-31,3,Highland,34,Seat Belt Offences,7.0,0,0
3000568,2021-12-31,NaN,NaN,2021-12-31,3,Highland,75,Mobile Phone Offences,7.0,0,0

## Prepare for Export

In [49]:
# Remove Unwanted Columns
expo = df[['DIVISION_CODE', 'COUNCIL_AREA_CODE', 'BEAT', 'STATS_CLASS_CODE', 'GROUP' ,'INVESTIGATION_DURATION', 'BIN_CLASS']]
expo

,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP,INVESTIGATION_DURATION,BIN_CLASS
0,1,Aberdeen City,AS2B,Serious Assault,1.0,0,0
1,1,Aberdeen City,AN3B,Serious Assault,1.0,0,0
2,1,Aberdeen City,AN7A,Serious Assault,1.0,1,1
3,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0,0,0
4,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0,0,0
...,...,...,...,...,...,...,...
3000564,3,Highland,408,"Lighting offences, motor vehicle",7.0,1,1
3000565,3,Highland,408,"Lighting offences, motor vehicle",7.0,1,1
3000566,3,Highland,67,Seat Belt Offences,7.0,0,0
3000567,3,Highland,34,Seat Belt Offences,7.0,0,0
3000568,3,Highland,75,Mobile Phone Offences,7.0,0,0

In [50]:
# Export To File
expo.to_csv('data/sanitized_basic.csv', index=False)

## Additional Feature Extraction

In [51]:
# Drop Missing Values for Additional Feature Extraction
df = df.dropna()
df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP,INVESTIGATION_DURATION,BIN_CLASS
0,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeen City,AS2B,Serious Assault,1.0,0,0
1,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeen City,AN3B,Serious Assault,1.0,0,0
2,2013-12-31,31-Dec-13,31-Dec-13,2014-01-01,1,Aberdeen City,AN7A,Serious Assault,1.0,1,1
3,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0,0,0
4,2014-01-01,01-Jan-14,01-Jan-14,2014-01-01,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3000521,2021-12-31,31-Dec-21,31-Dec-21,2021-12-31,10,South Lanarkshire,QC55,Seat Belt Offences,7.0,0,0
3000524,2021-12-31,30-Dec-21,30-Dec-21,2021-12-31,5,City of Edinburgh,SE41,"Motor Vehicles, Other Offences",7.0,0,0
3000525,2021-12-29,09-Nov-21,09-Nov-21,2021-12-31,1,Aberdeen City,AN6C,"Motor Vehicles, Other Offences",7.0,2,1
3000526,2021-12-31,30-Dec-21,30-Dec-21,2021-12-31,5,City of Edinburgh,NW29,"Motor Vehicles, Other Offences",7.0,0,0
3000527,2021-12-30,30-Dec-21,30-Dec-21,2021-12-31,1,Aberdeen City,AN5A,"Motor Vehicles, Other Offences",7.0,1,1

In [52]:
# Fix Date Formatting for Remaining Dates
cols = ['DATE_TO', 'DATE_FROM']

for col in cols:
    df[col] = np.where(df[col].str[-2:].astype(int) > 22, df[col].str[:-2] + "19" + df[col].str[-2:], df[col])
    df[col] = np.where(df[col].str[-2:].astype(int) <= 22, df[col].str[:-2] + "20" + df[col].str[-2:], df[col])

df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP,INVESTIGATION_DURATION,BIN_CLASS
0,2014-01-01,01-Jan-2014,01-Jan-2014,2014-01-01,1,Aberdeen City,AS2B,Serious Assault,1.0,0,0
1,2014-01-01,01-Jan-2014,01-Jan-2014,2014-01-01,1,Aberdeen City,AN3B,Serious Assault,1.0,0,0
2,2013-12-31,31-Dec-2013,31-Dec-2013,2014-01-01,1,Aberdeen City,AN7A,Serious Assault,1.0,1,1
3,2014-01-01,01-Jan-2014,01-Jan-2014,2014-01-01,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0,0,0
4,2014-01-01,01-Jan-2014,01-Jan-2014,2014-01-01,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3000521,2021-12-31,31-Dec-2021,31-Dec-2021,2021-12-31,10,South Lanarkshire,QC55,Seat Belt Offences,7.0,0,0
3000524,2021-12-31,30-Dec-2021,30-Dec-2021,2021-12-31,5,City of Edinburgh,SE41,"Motor Vehicles, Other Offences",7.0,0,0
3000525,2021-12-29,09-Nov-2021,09-Nov-2021,2021-12-31,1,Aberdeen City,AN6C,"Motor Vehicles, Other Offences",7.0,2,1
3000526,2021-12-31,30-Dec-2021,30-Dec-2021,2021-12-31,5,City of Edinburgh,NW29,"Motor Vehicles, Other Offences",7.0,0,0
3000527,2021-12-30,30-Dec-2021,30-Dec-2021,2021-12-31,1,Aberdeen City,AN5A,"Motor Vehicles, Other Offences",7.0,1,1

In [53]:
# Calculate Occur Date Range - Assume Negative is Clerical Error (Use Absolute Value)
df[['DATE_TO', 'DATE_FROM']] = df[['DATE_TO', 'DATE_FROM']].apply(pd.to_datetime)
df['OCCUR_RANGE'] = abs((df['DATE_TO'] - df['DATE_FROM']).dt.days)
df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP,INVESTIGATION_DURATION,BIN_CLASS,OCCUR_RANGE
0,2014-01-01,2014-01-01,2014-01-01,2014-01-01,1,Aberdeen City,AS2B,Serious Assault,1.0,0,0,0
1,2014-01-01,2014-01-01,2014-01-01,2014-01-01,1,Aberdeen City,AN3B,Serious Assault,1.0,0,0,0
2,2013-12-31,2013-12-31,2013-12-31,2014-01-01,1,Aberdeen City,AN7A,Serious Assault,1.0,1,1,0
3,2014-01-01,2014-01-01,2014-01-01,2014-01-01,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0,0,0,0
4,2014-01-01,2014-01-01,2014-01-01,2014-01-01,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3000521,2021-12-31,2021-12-31,2021-12-31,2021-12-31,10,South Lanarkshire,QC55,Seat Belt Offences,7.0,0,0,0
3000524,2021-12-31,2021-12-30,2021-12-30,2021-12-31,5,City of Edinburgh,SE41,"Motor Vehicles, Other Offences",7.0,0,0,0
3000525,2021-12-29,2021-11-09,2021-11-09,2021-12-31,1,Aberdeen City,AN6C,"Motor Vehicles, Other Offences",7.0,2,1,0
3000526,2021-12-31,2021-12-30,2021-12-30,2021-12-31,5,City of Edinburgh,NW29,"Motor Vehicles, Other Offences",7.0,0,0,0
3000527,2021-12-30,2021-12-30,2021-12-30,2021-12-31,1,Aberdeen City,AN5A,"Motor Vehicles, Other Offences",7.0,1,1,0

In [54]:
# Calculate Report Delay - Assume Negative is Clerical Error (Use Absolute Value)
df['DATE_RAISED'] = df['DATE_RAISED'].apply(pd.to_datetime)
df['REPORT_DELAY'] = abs((df['DATE_RAISED'] - df['DATE_FROM']).dt.days)

In [55]:
df

,DATE_RAISED,DATE_FROM,DATE_TO,DATE_DETECTED,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP,INVESTIGATION_DURATION,BIN_CLASS,OCCUR_RANGE,REPORT_DELAY
0,2014-01-01,2014-01-01,2014-01-01,2014-01-01,1,Aberdeen City,AS2B,Serious Assault,1.0,0,0,0,0
1,2014-01-01,2014-01-01,2014-01-01,2014-01-01,1,Aberdeen City,AN3B,Serious Assault,1.0,0,0,0,0
2,2013-12-31,2013-12-31,2013-12-31,2014-01-01,1,Aberdeen City,AN7A,Serious Assault,1.0,1,1,0,0
3,2014-01-01,2014-01-01,2014-01-01,2014-01-01,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0,0,0,0,0
4,2014-01-01,2014-01-01,2014-01-01,2014-01-01,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000521,2021-12-31,2021-12-31,2021-12-31,2021-12-31,10,South Lanarkshire,QC55,Seat Belt Offences,7.0,0,0,0,0
3000524,2021-12-31,2021-12-30,2021-12-30,2021-12-31,5,City of Edinburgh,SE41,"Motor Vehicles, Other Offences",7.0,0,0,0,1
3000525,2021-12-29,2021-11-09,2021-11-09,2021-12-31,1,Aberdeen City,AN6C,"Motor Vehicles, Other Offences",7.0,2,1,0,50
3000526,2021-12-31,2021-12-30,2021-12-30,2021-12-31,5,City of Edinburgh,NW29,"Motor Vehicles, Other Offences",7.0,0,0,0,1
3000527,2021-12-30,2021-12-30,2021-12-30,2021-12-31,1,Aberdeen City,AN5A,"Motor Vehicles, Other Offences",7.0,1,1,0,0

In [56]:
# Remove Unwanted Rows
df = df[['DIVISION_CODE',
         'COUNCIL_AREA_CODE',
         'BEAT',
         'STATS_CLASS_CODE',
         'GROUP',
         'OCCUR_RANGE',
         'REPORT_DELAY',
         'INVESTIGATION_DURATION',
         'BIN_CLASS']]

df

,DIVISION_CODE,COUNCIL_AREA_CODE,BEAT,STATS_CLASS_CODE,GROUP,OCCUR_RANGE,REPORT_DELAY,INVESTIGATION_DURATION,BIN_CLASS
0,1,Aberdeen City,AS2B,Serious Assault,1.0,0,0,0,0
1,1,Aberdeen City,AN3B,Serious Assault,1.0,0,0,0,0
2,1,Aberdeen City,AN7A,Serious Assault,1.0,0,0,1,1
3,1,Aberdeenshire,S1A,Housebreaking with intent to steal - other pro...,3.0,0,0,0,0
4,1,Aberdeen City,AN3A,Theft of motor vehicle & contents incl. taking...,3.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
3000521,10,South Lanarkshire,QC55,Seat Belt Offences,7.0,0,0,0,0
3000524,5,City of Edinburgh,SE41,"Motor Vehicles, Other Offences",7.0,0,1,0,0
3000525,1,Aberdeen City,AN6C,"Motor Vehicles, Other Offences",7.0,0,50,2,1
3000526,5,City of Edinburgh,NW29,"Motor Vehicles, Other Offences",7.0,0,1,0,0
3000527,1,Aberdeen City,AN5A,"Motor Vehicles, Other Offences",7.0,0,0,1,1

In [57]:
# Export To File
df.to_csv('data/sanitized_additional.csv', index=False)